<div class = "container">
  <div class="jumbotron intro">
    <h1>How Well Does Your Event/Hashtag Do?</h1>
    <p>This application gives you the ability to view 20-30 instagram posts and view the sentiment on the overall post via the descriptions. </p>
    <p>It's incredibly simple to use but here's an example to show its capabilities</p>
    <p><a class="btn btn-primary btn-lg" href="/nyc" role="button">Let's See What People Have to Say about NYC</a></p>
  </div>
</div>
<div class = "container">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">How This Can Help Your Event/Campaign</h3>
    </div>
    <div class="panel-body">
      <p>Sentiment Analysis refers to the subset of Natural Language Processing that detects positive or negative conotations in individual sentences or phrases. It has become increasingly popular to implement in existing software systems.
      </p>
      <p>
      You could use Sentiment Analysis to help your campaign track the overall view of your event or campaign. By tracking hashtags that you've pre-selected, you can essentially see how your event or campaign is performing based on what people are saying.
      </p>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">What else can be built with this?</h3>
    </div>
      <ul class="list-group">
        <li class="list-group-item">Twitter Integration - Twitter is a huge source of social media posts and being able to detect sentiment on Twitter would be incredibly useful</li>
        <li class="list-group-item">A working word-cloud using D3 in order to show what words are most associated with a specific hashtag</li>
        <li class="list-group-item">A Proper Search Bar - Right now, the way to search hashtags is to type in the desired hashtag after the URL in this fashion: www.url.com/hashtag but having a well designed search bar would be nice too.In addition, better search functionality would be nice as well in order to display more posts than just those that appear from hashtags. Perhaps searching by users or searching by instagram URL's are some possiblities</li>
        <li class="list-group-item">Leveraging location in order to give you an idea of where your campaign/event is getting the most attention. This is relatively simple given that Instagram provides location for a fair amount of the posts that are sent out</li>
        <li class = "list-group-item">Minor bugs with the sentiment analysis processor</li>
        <li class = "list-group-item">Major Design Improvements</li>
      </ul>
  </div>
</div>
